DJANGO_DEBUG=true
DJANGO_SECRET_KEY=1234
DJANGO_HOSTNAME=127.0.0.1
DJANGO_SUPERUSER_DATABASE=default
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@localhost
DJANGO_SUPERUSER_PASSWORD=password

DB_HOST=db
POSTGRES_USER=desiam
DB_USER=desiam
POSTGRES_PASSWORD=desiam
DB_PASS=desiam
POSTGRES_DB=desiam
DB_NAME=desiam

